---
import { getPostsAsTree } from "../feeds";

const { source } = Astro.props;

const tree = await getPostsAsTree(source);
---

<a class="no-underline" href={import.meta.env.SITE + "/" + source + "/rss.xml"}
  ><i class="ph-bold ph-rss"></i></a
>

<div class="not-prose">
  {
    Object.entries(tree).map(([year, months]) => (
      <details open>
        <summary class="border-t-2 border-dashed border-shade-300">
          {year}
        </summary>
        <div class="ml-8 border-t-2 border-dashed border-shade-300">
          {Object.entries(months).map(([month, days]) => (
            <details open class="border-b-2 border-dashed border-shade-300">
              <summary>{month}</summary>
              <ul class="ml-8">
                {Object.entries(days)
                  .sort((a, b) => b[0].localeCompare(a[0]))
                  .map(([day, post]) => (
                    <li class="last:border-b-0 border-b-2 border-dashed border-shade-300">
                      <a
                        href={post.id}
                        class="flex gap-3 items-center justify-between hover:underline"
                      >
                        <span class="underline text-[var(--tw-prose-links)]">
                          {day}
                        </span>
                        <span class="text-[.9rem] pb-[0.1rem] text-balance text-right">
                          {post.data.description}
                        </span>
                      </a>
                    </li>
                  ))}
              </ul>
            </details>
          ))}
        </div>
      </details>
    ))
  }
</div>
