---
import { getEntry, render } from "astro:content";
import { Image } from "astro:assets";

import Mug from "./Mug.astro";
import Project from "./Project.astro";
import Feed from "./Feed.astro";
import FeedTree from "./FeedTree.astro";
import NowPlaying from "./NowPlaying.astro";

const { id, header = true } = Astro.props;

if (!id) {
  throw new Error("Page ID is required");
}

const entry = await getEntry("garden", id)!;

if (!entry) {
  throw new Error(`Page not found: ${id}`);
}

const customLayout = entry.data.customLayout;

let width = undefined;
let centerHeader = false;
let mainClass = undefined;
let noFooter = !header;
let invert = false;
let mobileFriendly = true;

switch (customLayout) {
  case "quake":
    const bgImageClassName = "bg-[url(/images/quake-bg.png)]";
    width = "max-w-full";
    centerHeader = true;
    mainClass = `${bgImageClassName} prose-lg font-mono py-8 [&_div>p]:relative [&_div>p]:pl-4 [&_div>p]:before:content-['•'] [&_div>p]:before:absolute [&_div>p]:before:left-0 [&_div>p]:before:top-0.5`;
    noFooter = true;
    invert = true;
    mobileFriendly = false;
    break;
}

const { Content } = await render(entry);

import Layout from "../layouts/Layout.astro";
---

<Layout
  title={entry.data.name === "Home" ? undefined : entry.data.name}
  description={entry.data.description}
  noFooter={noFooter}
  ogImage={entry.data.ogImage}
  width={width}
  mainClass={mainClass}
  invert={invert}
  mobileFriendly={mobileFriendly}
>
  {
    header && (
      <h1 class:list={[centerHeader && "text-center"]}>{entry.data.name}</h1>
    )
  }
  {
    entry.data.description && (
      <p class="not-prose text-2xl font-medium mb-10">
        {entry.data.description}
      </p>
    )
  }
  <Content components={{ Mug, Project, Feed, FeedTree, Image, NowPlaying }} />
</Layout>
